registry=https://registry.npmjs.org/
@capacitor-mlkit:registry=https://registry.npmjs.org/
@capacitor:registry=https://registry.npmjs.org/
@ionic:registry=https://registry.npmjs.org/
@revenuecat:registry=https://registry.npmjs.org/
audit=false
fund=false
package-lock=true
update-notifier=false
fetch-retries=6
fetch-retry-factor=2
fetch-retry-mintimeout=15000
fetch-retry-maxtimeout=120000
fetch-timeout=600000
omit-lockfile-registry-resolved=true
